@model FC.Models.Address

@{
    ViewBag.Title = "CreateAddress";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<h2>Створити адресу</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>

        <div class="editor-label">
           Регіон
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Region)
            @Html.ValidationMessageFor(model => model.Region)
        </div>

        <div class="editor-label">
           Населений пункт
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            Вулиця
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
           Номер будинку
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuildingNumber)
            @Html.ValidationMessageFor(model => model.BuildingNumber)
        </div>
        <p>
            <input type="submit" value="Створити" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Назад до списку", "ShowAllAddresses")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
