@using System.Runtime.InteropServices
@using System.Text
@model IEnumerable<FC.Models.Player>

<tbody>
<tr>
    <th>
        Ім'я
    </th>
    <th>
        Прізвище
    </th>
    <th>
        Дата народжененя
    </th>
    <th>
        Команда
    </th>
    <th>
    </th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.BirthdayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
             <td>
            @Html.ActionLink("Змінити","EditPlayer", new {controller="Players", id=item.PlayerId }) |
            @Html.ActionLink("Деталі", "DetailsOfPlayer", new { controller="Players",id=item.PlayerId }) |
            @Html.ActionLink("Видалити", "DeletePlayer", new {controller="Players", id=item.PlayerId })
        </td>
        </tr>
    }


</tbody>
  
